*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* you can force inheritance with inherit keyword - it is better in css community
  to put box sizing in the body instead of up here */
  /* change box model so that borders and paddings are no longer added to the total width or total height that we specify for a box. so we are getting rid of that behavior */
}

html{
  
    font-size: 62.5% ;// 10px/16px = 62.5% -> 1rem = 10px
}

body{
    box-sizing: border-box;


}

li{
    list-style-position: inside;
    list-style-type: none;
}

.container{
    display: grid;
    
    grid-template-rows: 30vh;

    grid-template-columns:[full-start body-start] repeat(8, [col-start] minmax(min-content, calc(75vw/8) ) [col-end]) [body-end nav-start] minmax(min-content,25vw) [nav-end full-end];

    // grid-template-columns: [full-start] minmax(6rem, 1fr) 
    // [center-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] 
    // minmax(6rem, 1fr) [full-end];

}