body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 00;
    line-height: 1.4375; //16px size with a 23px line height
    color: $color-paragraph;
    font-size: $default-font-size;
    color: $color-paragraph;
}

.heading-huge{
    font-weight: 600;
    margin-bottom: 4rem; //1em = 16 px  1rem = 10px  .625em = 1rem  we want .67em
    font-size: 10rem; //28px
    line-height: 1;
}


.heading-big{
    font-weight: 600;
    margin-bottom: 4rem; // 1.8rem ~ .67em idk why
    font-size: 5rem; //28px
    line-height: 1;
    
}

.heading-med{
    font-weight: 600;
    margin-bottom: 2.5rem; //
    font-size: 3rem; //28px
    line-height: 1; 
}




