.u-margin-bottom-small{
    margin-bottom: 1.8rem;
}

.u-margin-bottom-medium{
    margin-bottom: 3rem;
}

.u-section-padding{
    padding: 6rem 8rem;

    @media only screen and (max-width:$bp-large){
        padding: 3rem 4rem;
    }
}

.u-section-first-padding{
    padding: 2rem 8rem;

    @media only screen and (max-width:$bp-large){
        padding: 2rem 2rem;
    }
}

.u-hline { 
    grid-column: body-start/body-end;
    height: .3rem; 
    background-color: $color-hr;

    width: 90%; 
    justify-self: center;

}
