$color-header: #001D39;
$color-header-text: #FFFFFF;

$color-navigation: #003262;
$color-navigation-text-hover: #07B3E5;
$color-navigation-button-hover: #184066;
$color-navigation-button-hover-border: #184066;
$color-navigation-text:  #FFFFFF;

$color-breadcrumb-background: #f5f5f5;
$color-breadcrumb-text: #777777;

$color-link-text:#184066;
$color-link-hover:#07B3E5;

$color-banner-background: #EEEEEE;
$color-banner-text: #FFFFFF;
$color-banner-content-background:#51758D;

$color-heading:#323232;
$color-body: #FFFFFF;

// $color-paragraph:#888;

$color-paragraph:#323232;

$color-hr: #323232;

// $color-footer: #003262;
$color-footer:#323232;
$color-footer-text: #FFFFFF;

$color-white: #FFFFFF;

$color-button: #59853B;
$color-button-hover: #51758D;
$color-button-text: #FFFFFF;

$color-card-paragraph-background: #EEEEEE;

$color-card-img-caption-background:#323232;
$color-card-img-caption: #FFFFFF;
$color-card-link-background:#FBFBFB;

$color-card-link-background-hover: #EEEEEE;


//FONT
$default-font-size: 2.5rem;



// $grid-column-banner: [full-start] minmax(6rem, 3fr) 
// [center-start] repeat(10, [col-start] 1fr [col-end]) [center-end] 
// minmax(6rem, 3fr) [full-end];
