.airbnb-page{
    grid-column: body-start/body-end;
    grid-row: 2;
    display:grid;
    
    grid-row-gap:.5rem;


    &__header{
        color:$new-color-scheme-orange;

        @media only screen and (max-width:$bp-small){
            font-size: 7rem;    
             
          }
    }

    &__img{

        width: 100%;
        object-fit: contain;
        border-radius:$img-border-radius;
        justify-self: center;

        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */      

        &--1{ //front page
            width: 100%;

            @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 180rem;
            }


            @media only screen and (max-width:$bp-large ){
                width: 100%;
              }


        }

        &--2{ //redux done
            width: 75%;

            @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 100rem;
            }
          

            @media only screen and (max-width:$bp-large ){
              width: 100%;
            }
        }
        &--3{ //redux future
            width: 75%;

            @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 100rem;
            }

            @media only screen and (max-width:$bp-large){
                width: 100%;
            }
        }
        &--4{ //user login chart
            width: 65%;

            @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 80rem;
            }

            @media only screen and (max-width:$bp-large){
                width: 100%;
            }
        }
        &--5{ //restful convention img
            width: 75%;

            @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 100rem;
            }

            @media only screen and (max-width:$bp-large){
                width: 100%;
              }
        }
        &--6{ //back end referencing
             width: 75%;

             @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 100rem;
            }

             @media only screen and (max-width:$bp-large){
                width: 100%;
            }
        }
        &--7{ //data model
            width: 80%;

            @media only screen and (min-width:$bp-largest-2 ){ //for larger ultrawide screen
                width: 130rem;
            }

            @media only screen and (max-width:$bp-large){
                width: 100%;
            }
        }

    }

    &__tools-used{

        
        display: grid;
        grid-template-columns: repeat(5, max-content);
        justify-items: start;
        align-items: center;
        column-gap: 1rem;


        font-weight: 400;
        font-size: 2rem;

        &__item{

            padding:0 1rem;

            background-color: $new-color-scheme;
            color: $new-color-scheme-text-lighter;
            border-radius: .5rem;

            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */      

        }

     

        // &__items::after{
            
        // }
   




    }

    &__features{
      
        // display: grid;
        // align-items: center;

        &__item{
          

        }

        &__item::before{
            content:"\2764";
         
        }
    }
}