.main-page{
    display: grid;
    
    grid-template-rows: 10vh repeat(8,min-content);

    grid-template-columns:[full-start body-start] repeat(8, [col-start] minmax(min-content, 1fr ) [col-end]) 
    [body-end nav-start] minmax(min-content,$nav-width)  [nav-end full-end];

    


    // grid-template-columns: [full-start] minmax(6rem, 1fr) 
    // [center-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [center-end] 
    // minmax(6rem, 1fr) [full-end];


    @media only screen and (min-width:$bp-largest-2){
   //for ultrawide screens

    //   grid-template-columns:[full-start body-start] repeat(8, [col-start] minmax(min-content, 1fr ) [col-end]) 
    //   [body-end nav-start] minmax(min-content,$nav-width-ultrawide)  [nav-end full-end];


      grid-template-columns:
      [full-start] minmax(1rem, 1fr) [body-start] 
      repeat(8, [col-start] minmax(min-content, 22rem ) [col-end]) 
      [body-end] minmax(1rem, 1fr) [nav-start] minmax(min-content,$nav-width-ultrawide)  [nav-end full-end];
  

  }



    @media only screen and (max-width:$bp-largest){
        //for anything less than ipad pro
        grid-template-columns:[full-start body-start] repeat(8, [col-start] minmax(min-content, calc(80vw/8)) [col-end]) 
        [nav-start] minmax(min-content,$nav-width)[nav-end body-end full-end];

        grid-template-rows: 10rem repeat(8,min-content);

    }

}

