.banner{
    background-color: $color-banner-background;
    grid-column: full-start/full-end;

    display: grid;
    grid-template-columns:$grid-column-banner;
    grid-template-rows: 50rem;
    
    

    &__item{
        grid-column: center-start/ span 6;
        
        
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        
    }



    &__content{
        background-color: $color-banner-content-background;
        grid-column: col-start 7 / center-end;
        padding: 3.5rem;
        background-image: url('../img/ucb_tesselation.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom;

        &__heading{
            color: $color-banner-text;
        }
    
        &__paragraph{
            color: $color-banner-text;
            font-size: 2rem;
            
        }
    }


}