.publications{
    grid-column: center-start/center-end;
    margin: 10rem;

    &__heading{
        color: $color-heading;
     
    }

    &__subheading{
        color: $color-heading;
        // &:not(:first-child){
            
        //     margin-top: 1.8rem; //to match heading-big margin bottom in typography
        // }
    }

    &__list{
        list-style-type: none;
        font-size: 2rem;
    }



    &__item{
        margin-bottom: 0.5rem;
    }


    &__link{
        &,
        &:link,
        &:visited{
            color: $color-link-text;
        }

        &:hover{
            color:$color-link-hover;
        }
    }


}