.card{
    display:grid;

    grid-template-columns: minmax(min-content, 30rem) 2fr;

    // box-shadow: $default-box-shadow;
    // border-radius: $img-border-radius;
    // background-color: red;
    // padding:6rem 0;
 

    &__img{
        // width: 100%;
        height: 30rem;
        object-fit: contain;

        z-index: 1;
        border-radius: $img-border-radius;
    }

   

    &__description{
      
        grid-column: 2 / 3;
        align-self: center;
        padding-left:5rem;

        &__title{

        }

        &__paragraph{

        }
   
    }


    
}

.card-hline { 
    // width:100%; 
    height:.2rem; 
    background-color: green;
    grid-column: 1/-1;
    // grid-column: body-start/body-end;
}
