.research{
    grid-column: center-start/ center-end;
    margin: 10rem;

    &__heading{
        color: $color-heading;

    }

    &__list{
        list-style-type: none;
        font-size: 2rem;
        
    }

    &__item{
        margin-bottom: 0.5rem;
    }

    &__link{
        &,
        &:link,
        &:visited{
            color: $color-link-text;
        }

        &:hover{
            color:$color-link-hover;
        }
    }

}