.tools-used{

        
    display: grid;
    grid-template-columns: repeat(auto-fit, max-content);
    justify-items: start;
    align-items: center;
    column-gap: 1rem;


    font-weight: 400;
    font-size: 2rem;

    &__item{

        padding:0 1rem;

        background-color: $new-color-scheme;
        color: $new-color-scheme-text-lighter;
        border-radius: .5rem;

        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */      

    }

}