.footer{
    background-color: $new-color-scheme-dark-blue;
    grid-column: full-start/full-end;
    grid-row: 1000;
  
    display: grid;
    // grid-template-columns:[full-start] .5rem
    // [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] 
    // .5rem [full-end];
    grid-template-columns: minmax(min-content,1fr);
    grid-template-rows: minmax(10rem,20rem);
    justify-content: center;
    align-content:center;
    // row-gap: 2rem;
    padding: 2rem;


    &__header{
        grid-column: 1/-1;
        color: $new-color-scheme-orange;
        display:none;
        margin-top: 4rem;

        @media only screen and (max-width:$bp-largest){
            display:inline-block;
            width:100%;
            text-align: center;

        }

        // @media only screen and (max-width:$bp-medium){
        //     height: 4rem;
        // }

    }
    

    &__icons{
     
        grid-column: 1/-1;
        display:none;
        align-self: center;
        justify-self: center;
        
        grid-auto-flow: column;
        
        grid-column-gap: 4rem;
  
        margin-bottom: 5rem;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */      
    
        @media only screen and (max-width:$bp-largest){
            display:grid;
        }

        &__icon{

            
            height: 6rem;
           

            @media only screen and (max-width:$bp-medium){
                height: 4rem;
            }


        }
    }
    
}

