@import "../font-awesome/brands.scss";
@import "../font-awesome/fontawesome.scss";
@import "../font-awesome/solid.scss";
//https://fontawesome.com/how-to-use/on-the-web/using-with/sass

.navigation{
   
    // grid-column: nav-start / nav-end;
    position: fixed;
    right: 0rem;
    height: 100vh;
    width: 25vw;

    display: grid;
    // grid-template-columns: ;
    place-items: center;

    background-color: $new-color-scheme;
    color: $new-color-scheme-text-lighter;
  
    &__img{
        border-radius: 50%;
        object-fit: cover;
        height: 20rem;
        // width:100%;
    
        margin-top: 5rem;
        
    }

    &__header{
        // @extend %fa-icon;
        // @extend .fab;
        // margin-top: 10rem;
        
        // &:before {
        //     content: fa-content($fa-var-twitter);
        //   }


    }

    &__description{
        margin: 0 8rem;
        grid-column: 1/-1;

        font-style: italic;
        text-align: center;
    }

    &__items{
        margin-right: 8rem;
        margin-left: 8rem;
        // margin-top: 5rem;
        text-align: center;
        width: 100%; 
        
        &__item{
            // margin-bottom: 5rem;
            padding: 2rem;
        }

        &__item:hover{
            background-color: grey;
        }
        
    }

   

    &__icons{
       
        display:grid;
        grid-auto-flow: column;
        grid-column-gap: 2rem;


        &__icon{
 
            height: 4rem;
            fill: red;
            
     
        }
    }

}




// &__img{
//     grid-column: logo-start/logo-end;
//     align-self:center;
//     height: 50%;
//     cursor: pointer;
//    }

//    &__button{
//        color: $color-navigation-text;
//        font-size: 2.6rem;
//        padding: 3rem;
//        align-self: center;
//        text-align:center;
//        //you need these below to negate the user style sheet default from browser
//        border: none;
//         border-radius: 0;
//         background-color: $color-navigation;
//         text-decoration: none;
//         border: 1.5px solid $color-navigation;
//         border-radius: 1px;
    
      
  
     

//    }

//    &__button:hover{
//     color: $color-navigation-text-hover;
//     background-color: rgba($color-navigation-button-hover,.5);
//     padding: 3rem;
//     border: 1.5px solid $color-navigation-text-hover;
//     border-radius: 1px;
//     cursor: pointer;
//    }

   
//    &__caret {
//     display: inline-table;
//     width: 0;
//     height: 0;
//     margin-left: 2px;
//     vertical-align: middle;
//     border-top: 4px dashed;
//     border-top: 4px solid;
//     border-right: 4px solid transparent;
//     border-left: 4px solid transparent;
//     }