.projects{
    grid-column: body-start/body-end;
    // background-color:orange

    &__more-projects::after{
        content:" \21D2";
        color:$new-color-scheme-orange;
        //https://www.toptal.com/designers/htmlarrows/arrows/
    }
}

