.skills {
  grid-column: body-start/body-end;
  // background-color: grey;

  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  column-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: repeat(3, max-content);
    row-gap: 2rem;
  }

  &__header {
    grid-column: 1/-1;
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: -1rem;
    }
  }

  &__list {
    display: grid;
    row-gap: 1rem;
    align-content: start;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1;
    }

    &__header {
    }
  }
}
