.skills{
    grid-column: body-start/body-end;
    // background-color: grey;

    display:grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));

    &__heading{
        grid-column: 1/-1;
    }

    &__paragraph{
        grid-column: 1/-1;
    }

    &__list{    

        column-gap: 1rem;
        row-gap: 1rem;

        &--left{
            grid-column: 1/2;
            display:grid;
            grid-template-columns: repeat(2,max-content);

            
        }
        &--right{
            grid-column: 2/3;
            display:grid;
            grid-template-columns: repeat(2,max-content);
            align-content: start;
            
        }

        &__header{
            grid-column: 1 /-1;

        }

        &__icon{
            height: 5rem;
            width: 5rem;
            grid-column: 1;
       
            align-self:start;
          
        }

        &__item{
            
            grid-column: 2;
            align-self: center;

      
        }


    }
}