.btn{
    &,
    &:link,
    &:visited {
        background-color: $color-button;
        color: $color-button-text;
        border: none;
        border-radius: 0;
        font-weight: 700;
        font-size: 2rem;
        padding: 1rem 0;
        text-decoration: none;
        text-align: center;
       
    }
}

.btn:hover{
    background-color: $color-button-hover;
    cursor: pointer;
}